services:
  huntarr:
    image: huntarr/huntarr:latest
    container_name: huntarr
    env_file: ../.env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - 9705:9705
    volumes:
      - ./config:/config
    restart: unless-stopped